{% inject "assets/components/header/header.njk", header %}
{% inject "assets/components/section_hero/section_hero.njk", section_hero %}
{% inject "assets/components/section_explanation/section_explanation.njk", section_explanation %}