<div class="feature">
	<svg class="feature__icon feature__icon--{{ icon }} c-main spacing-small"><use xlink:href="#{{ icon }}"></use></svg>
	<h3 class="h2 c-black">{{ header }}</h3>
	{{ bodytext | safe }}
</div>