<div class="author">
	<img class="author__logo spacing-zero" src="{{ image.src }}" alt="{{ image.alternative }}">
	<div>
		<p class="color-black spacing-zero"><b>{{ name }}</b><br></p>
		<p class="spacing-zero">{{ description }}</p>
	</div>
</div>