<div class="browser">
	<div class="browser__toolbar">
		<div class="browser__dots">
			<div class="browser__dot browser__dot--red"></div>
			<div class="browser__dot browser__dot--yellow"></div>
			<div class="browser__dot browser__dot--grey"></div>
		</div>
		<div class="browser__address align-center">
			<p class="spacing-zero">{{ url }}</p>
		</div>
	</div>
	<div class="browser__content">
		<img class="spacing-zero" src="{{ figure.src }}" width="{{ figure.width }}" height="{{ figure.height }}" alt="{{ figure.alternative }}">
		{% for item in points %}
			{% inject "assets/components/point/point.njk", item %}
		{% endfor %}
	</div>
</div>