<div class="section section--small" id="{{ id }}">

	<div class="row row--spacing">
		<div class="column medium-6">

			{% for item in content %}
				<a class="footer__item href c-main" href="{{ item.href.value }}" {% if item.href.target %}target="{{ item.href.target }}"{% endif %}>{{ item.label }}</a>
			{% endfor %}

		</div>
		<div class="column medium-6">

			<div class="align-right">
				<p>{{ copyright }}</p>
			</div>

		</div>
	</div>

</div>