<nav class="nav">
	{% for item in content %}
		<a class="nav__item c-white" href="{{ item.href.value }}" {% if item.href.target %}target="{{ item.href.target }}"{% endif %}>{{ item.label }}</a>
	{% endfor %}
</nav>