<div class="section section--zero section--dimmed quotes">
	<div class="quotes__main">

		{% for item in content %}
			<div class="quotes__quote">

				<svg class="quotes__quotation spacing-small"><use xlink:href="#quotation"></use></svg>
				<blockquote class="h2 c-black spacing-large">{{ item.bodytext }}</blockquote>

				<div class="quotes__footer">

					{% inject "assets/components/author/author.njk", item.author %}

					<div class="quotes__arrows">
						<button class="quotes__arrow quotes__arrow--prev">
							<svg class="quotes__icon"><use xlink:href="#arrow"></use></svg>
						</button>
						<button class="quotes__arrow quotes__arrow--next">
							<svg class="quotes__icon"><use xlink:href="#arrow"></use></svg>
						</button>
					</div>

				</div>

			</div>
		{% endfor %}

	</div>
	<div class="quotes__aside">

		{% for item in content %}
			<img class="quotes__image" src="{{ item.image.src }}" alt="{{ item.image.alternative }}" style="--x: {{ item.position.x }}; --y: {{ item.position.y }}">
		{% endfor %}

	</div>
</div>