<div class="shape shape--{{ background }} {% if animation %}shape--animation{% endif %} color-{{ color }} font-notomono" data-bodytext="{{ bodytext }}" style="--x: {{ x }}px; --y: {{ y }}px; --z: {{ z }}px; --width: {{ width }}px; --height: {{ height }}px; --animation: {{ animation }}"></div>