<div class="shape shape--{{ background }} {% if animated %}shape--animated{% endif %} c-{{ color }} f-notomono" data-bodytext="{{ bodytext }}" style="--x: {{ x }}px; --y: {{ y }}px; --z: {{ z }}px; --width: {{ width }}px; --height: {{ height }}px"></div>