<div class="feature feature--wide">

	<div class="row row--spacing">
		<div class="column medium-6">

			{% inject "assets/components/icon/icon.njk", icon %}

			<div class="spacing-medium"></div>

			<h3 class="h2 c-black">{{ header | safe }}</h3>

			{{ bodytext | safe }}

		</div>
		<div class="column medium-6">

			<div class="feature__browser">
				{% inject "assets/components/browser/browser.njk", browser %}
			</div>

		</div>
	</div>

</div>