<div class="point color-main" style="--x: {{ x }}px; --y: {{ y }}px; --delay: {{ delay }}s" data-tooltip="{{ tooltip.bodytext }}" data-tooltip-{{ tooltip.position }}>
	<div class="point__inner"></div>
</div>