<div class="section section--overflow" id="{{ id }}">

	<div class="row row--spacing">
		<div class="column medium-6 large-5">

			{% inject "assets/components/head/head.njk", {
				header: header,
				subheader: subheader
			} %}

			<div class="color-main font-notomono">{{ bodytext | safe }}</div>

		</div>
		<div class="column medium-6 large-offset-1 large-6">

			{% inject "assets/components/browser/browser.njk", browser %}

		</div>
	</div>

</div>