.browser {

	display: flex;
	width: max-content;
	flex-direction: column;
	background: color('grey');
	box-shadow: $shadowSmall, 0 0 0 1px rgba(0, 0, 0, .04);
	border-radius: $radiusBig;

	&__toolbar {
		display: grid;
		grid-template-columns: minmax(max-content, 1fr) minmax(auto, 600px) 1fr;
		grid-column-gap: $gutter;
		align-items: center;
		padding: 8px 20px;
		border-bottom: 1px solid rgba(0, 0, 0, .1);
	}

	&__dots {
		display: flex;
	}

	&__dot {
		$size: 12px;

		margin: 0 6px 0 0;
		width: 12px;
		height: 12px;
		border-radius: 100%;

		&--red {
			background: #fd655e;
		}

		&--yellow {
			background: #febe40;
		}

		&--grey {
			background: rgba(0, 0, 0, .1);
		}
	}

	&__address {
		border-radius: $radiusSmall;
		padding: 6px;
		background: rgba(0, 0, 0, .05);
		font-size: 12px;
	}

	&__content {
		position: relative;
	}

}