.button {

	position: relative;
	display: inline-block;
	margin: 0 $gutter/4 $gutter/2 0;
	padding: .8em $gutter .9em;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	user-select: none;
	transition: transform $duration $timing;
	border: 0;
	border-radius: $radiusSmall;
	vertical-align: middle;

	&:hover {
		transform: translateY(-2px);
	}

	&:active {
		transition: none;
		transform: translateY(-1px);
	}

	&--main {
		background: gradient('shine'), gradient(color('main'));
		color: color('white');
	}

	&--light {
		background: gradient('shine'), gradient(color('white'));
		color: color('black');
	}

	&--dark {
		background: gradient('shine'), gradient(color('black'));
		color: color('white');
	}

}