.button {

	$padding: 1.2em;

	position: relative;
	display: inline-block;
	margin: 0 0 $gutter/2;
	padding: .6em $padding .7em $padding;
	line-height: 1;
	text-decoration: none;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	user-select: none;
	transition: transform $duration $timing;
	border: 0;
	border-radius: 4px;
	vertical-align: middle;

	&:hover {
		transform: translateY(-2px);
	}

	&:active {
		transition: none;
		transform: translateY(-1px);
	}

	&--light {
		background: gradient('shine'), gradient(color('white'));
		color: color('black');
	}

	&--dark {
		background: gradient('shine'), gradient(color('dark'));
		color: color('white');
	}

	&--arrow {
		padding-right: 3.2em;
	}

	&--arrow::after {
		content: '→';
		position: absolute;
		top: calc(50% - .5em);
		right: $padding;
		margin: 0 0 0 1em;
		font-size: 1.1em;
		line-height: 1em;
		transition: transform $duration $timing;
	}

	&--arrow:hover::after {
		transform: translateX(20%);
	}

}