.features {

	--columns: 3;

	display: grid;
	grid-template-columns: repeat(var(--columns), 1fr);
	grid-column-gap: $gutter;
	grid-row-gap: $gutter;
	margin: 0 $featurePadding*-1;

	@media (max-width: $maxWidth) {
		margin: 0;
	}

	@media (max-width: $bpS) {
		--columns: 1;
	}

}