.feature {

	padding: $gutter*2 $featurePadding $gutter*1.5;
	overflow: hidden;

	&--wide {
		--columns: 2;

		grid-column: auto / span var(--columns);

		@media (max-width: $bpS) {
			--columns: 1;
		}
	}

	&--light {
		@media (max-width: $bpS) {
			padding-top: 0;
			padding-bottom: 0;
		}
	}

	&--dark {
		background: gradient('main');
		color: color('light');
		border-radius: $radiusBig;
	}

	&__browser {
		min-height: 330px;
	}

	&__browser .browser {
		position: absolute;
	}

}