.feature {

	padding: $gutter*2 $featurePadding $gutter*1.5;
	overflow: hidden;

	&--wide {
		grid-column: auto / span var(--columns, 2);

		@media (max-width: $bpS) {
			--columns: 1;
		}
	}

	&--dark {
		background: gradient('blue');
		color: color('light');
		border-radius: $radiusBig;
	}

	&__browser {
		min-height: 330px;
	}

	&__browser .browser {
		position: absolute;
	}

}