.header {

	position: fixed;
	display: flex;
	align-items: center;
	top: 0;
	left: 0;
	height: $headerHeight;
	width: 100%;
	background: color('white');
	border-bottom: 1px solid color('grey');
	z-index: 2;

	@supports (-webkit-backdrop-filter: blur(0)) {
		background: rgba(color('white'), .7);
		-webkit-backdrop-filter: blur(30px);
	}

}