.header {

	position: fixed;
	display: flex;
	align-items: center;
	top: 0;
	left: 0;
	height: $headerHeight;
	width: 100%;
	background: color('white');
	border-bottom: 1px solid color('grey');
	z-index: 2;

	@supports (-webkit-backdrop-filter: blur(0)) {
		background: rgba(color('white'), .7);
		-webkit-backdrop-filter: blur(30px);
	}

	&__content {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	&__icon {
		$size: 32px;

		display: block;
		margin-left: $gutter;
		width: $size;
		height: $size;
		fill: color('dark');
		// Dimm element to look more like the dark text
		opacity: .8;
	}

}