.icon {

	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 0 $gutter/2;
	width: $iconSize;
	height: $iconSize;
	background: color('main');
	color: color('white');
	box-shadow: $shadowSmall;
	border-radius: 100%;

	svg {
		$size: 50%;

		width: $size;
		height: $size;
		fill: currentColor;
	}

}