.icon {

	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 0 $gutter/2;
	width: $iconSize;
	height: $iconSize;
	border-radius: 100%;
	box-shadow: $shadowSmall;

	&--light {
		background: gradient('shine'), gradient(color('white'));
		color: color('main');
	}

	&--dark {
		background: gradient('main');
		color: color('white');
	}

	svg {
		$size: 50%;

		width: $size;
		height: $size;
		fill: currentcolor;
	}

}