.links {

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-column-gap: $gutter;
	grid-row-gap: $gutter;
	margin: 0 $featurePadding*-1;

	@media (max-width: $maxWidth) {
		margin: 0;
	}

	@media (max-width: $bpXS) {
		grid-template-columns: 1fr;
	}

}