.link {

	display: block;
	margin-bottom: $gutter;
	width: 100%;
	background: color('white');
	color: inherit;
	box-shadow: $shadowSmall;
	border-radius: $radiusSmall;
	transition: transform, box-shadow;
	transition-duration: $duration;
	transition-timing-function: $timing;

	@media (max-width: $bpXS) {
		margin-bottom: $gutter/2;
	}

	&:hover {
		transform: translateY(-4px);
		box-shadow: $shadowBig;
	}

	&:active {
		transition: none;
		transform: translateY(-2px);
		box-shadow: $shadowSmall;
	}

	&__hero {
		position: relative;
		height: 250px;
		background: color('main');
		border-top-left-radius: $radiusSmall;
		border-top-right-radius: $radiusSmall;
		overflow: hidden;
	}

	&__icon {
		position: absolute;
		top: 50%;
		left: 50%;
		fill: currentColor;
		transform: translate(-50%, -50%);

		&--foreground {
			width: $iconSize;
			height: $iconSize;
		}

		&--background {
			$size: 400px;

			width: $size;
			height: $size;
			opacity: .05;
		}
	}

	&__content {
		padding: $gutter $gutter $gutter/2;
	}

}