.logo {

	display: flex;
	align-items: center;

	&__icon {
		$size: 32px;

		width: $size;
		height: $size;
		border-radius: 100%;
		background: color('black');
	}

	&__name {
		margin-left: $gutter/3;
		font-weight: 600;
	}

}