.section {

	padding: $sectionPadding 0 calc(#{ $sectionPadding } - #{ $gutter/2 });
	outline: none;

	&--small {
		padding: $sectionPadding/2 0 calc(#{ $sectionPadding/2 } - #{ $gutter/2 });
	}

	&--enclosed {
		border-bottom: 1px solid color('grey');
	}

	&--overflow {
		overflow: hidden;
	}

}