.shapes {

	$circleSize: 72%;

	position: relative;
	margin: 0 0 $gutter/2;
	padding-bottom: 100%;
	width: 100%;

	.circle,
	.square {
		position: absolute !important;
	}

	.circle {
		top: 0;
		left: 0;
		right: 100% - $circleSize;
		bottom: 100% - $circleSize;
	}

	.square {
		top: $circleSize/2 !important;
		left: $circleSize/2 !important;
		right: 0;
		bottom: 0;
	}

}