// Fonts -------------------------------------------------------------- //
@include fontFace('Open Sans', '../fonts/opensans-regular', normal, 400);
@include fontFace('Open Sans', '../fonts/opensans-semibold', normal, 600);
@include fontFace('Noto Mono', '../fonts/notomono-regular', normal, 600);

// Headlines -------------------------------------------------------------- //
@include headlines() {
	margin: 0 0 $gutter/2;
	font-weight: 400;
	text-rendering: optimizeLegibility;
}

.h1 {
	margin-bottom: $gutter/1.5;
	font-size: 2em;
	line-height: 1.4;
}

.h2 {
	font-size: 1.5em;
	line-height: 1.5;
}

.h3 {
	font-size: 1.17em;
	line-height: 1.6;
}

// Text -------------------------------------------------------------- //
@include text() {
	margin: 0 0 $gutter/2;
	font-style: normal;
}

a[href] {
	text-decoration: none;
}