// Fonts -------------------------------------------------------------- //
@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/open-sans-regular.woff2') format('woff2'), url('../fonts/open-sans-regular.woff') format('woff');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/open-sans-semibold.woff2') format('woff2'), url('../fonts/open-sans-semibold.woff') format('woff');
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: 'Noto Mono';
	src: url('../fonts/noto-mono-regular.woff2') format('woff2'), url('../fonts/noto-mono-regular.woff') format('woff');
	font-style: normal;
	font-weight: 300;
}

// Headlines -------------------------------------------------------------- //
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	margin: 0 0 $gutter/2;
	font-weight: 400;
	text-rendering: optimizeLegibility;
}

.h1 {
	margin-bottom: $gutter/1.5;
	font-size: 2em;
	line-height: 1.4;

	@media (max-width: $bpS) {
		font-size: 1.8em;
	}
}

.h2 {
	font-size: 1.5em;
	line-height: 1.5;
}

.h3 {
	font-size: 1.17em;
	line-height: 1.6;
}

// Text -------------------------------------------------------------- //
p,
ol,
ul,
blockquote {
	margin: 0 0 $gutter/2;
	font-style: normal;
}

a[href] {
	text-decoration: none;
}

b {
	font-weight: 600;
}