// Fonts -------------------------------------------------------------- //
@include fontFace('Open Sans', '../fonts/opensans-regular', normal, 400);
@include fontFace('Open Sans', '../fonts/opensans-semibold', normal, 600);

// Headlines -------------------------------------------------------------- //
@include headlines() {
	margin: 0 0 $gutter/2;
	font-weight: 400;
	text-rendering: optimizeLegibility;
}

h1,
.h1 {
	font-size: 2em;
}

h2,
.h2 {
	font-size: 1.5em;
}

h3,
.h3 {
	font-size: 1.17em;
}

// Text -------------------------------------------------------------- //
@include text() {
	margin: 0 0 $gutter/2;
	font-style: normal;
}