// Colors ------------------------------------------------------ //
$colors: (
	'white': rgba(255, 255, 255, 1),
	'black': rgba(0, 0, 0, .8),
	'light': rgba(255, 255, 255, .8),
	'dark': rgba(0, 0, 0, .6),
	'blue': #2D84FC
);

$gradients: (
	'blue': linear-gradient(45deg, darken(color('blue'), 10%), color('blue')),
	'shine': linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1))
);

// Shadows ----------------------------------------------------- //
$shadowBig: 0 6px 12px rgba(0, 0, 0, .15);
$shadowSmall: 0 2px 8px rgba(0, 0, 0, .3);

// Sizes ------------------------------------------------------- //
$gutter: 1.8rem;
$maxWidth: 1200px;

// Breakpoints ------------------------------------------------- //
$bpXXS: 480px;
$bpXS: 640px;
$bpS: 960px;
$bpM: 1024px;
$bpL: 1280px;
$bpXL: 1366px;
$bpXXL: 1920px;

// Animations -------------------------------------------------- //
$duration: .3s;
$timing: cubic-bezier(.51, .92, .24, 1);

// Typography -------------------------------------------------- //
$fontFamily: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Font -------------------------------------------------------- //
$fontStack: normal 400 100%/1.6 $fontFamily;

// basicGrid --------------------------------------------------- //
$basicGrid__width  : $maxWidth;
$basicGrid__gutter : $gutter;