<div class="hero section section--hero section--overflow" id="{{ id }}">

	<div class="row">
		<div class="column medium-6 large-5">

			{% inject "assets/components/head/head.njk", {
				header: header,
				subheader: subheader
			} %}

			{% for item in buttons %}
				{% inject "assets/components/button/button.njk", item %}
			{% endfor %}

		</div>
		<div class="column medium-6 large-7">

			{% inject "assets/components/shapes/shapes.njk", shapes %}

		</div>
	</div>

</div>