<div class="hero section section--enclosed" id="{{ id }}">

	<div class="row">
		<div class="column">

			<h1 class="h1 c-black">{{ header | safe }}</h1>
			{% if subheader %}<p class="h3">{{ subheader }}</p>{% endif %}

			<div class="spacing-huge"></div>

			{% for item in buttons %}
				{% inject "assets/components/button/button.njk", item %}
			{% endfor %}

		</div>
	</div>

</div>