<div class="hero section">

	<div class="row middle-on-small">
		<div class="column medium-6 large-5">

			<h1 class="h1 c-white">{{ header | safe }}</h1>
			{% if subheader %}<p class="h3 c-light">{{ subheader }}</p>{% endif %}

			<div class="spacing-huge"></div>

			{% for item in buttons %}
				{% inject "assets/components/button/button.njk", item %}
			{% endfor %}

		</div>
		<div class="column hide-on-small show-on-medium medium-6 large-offset-1 large-6">

			{% inject "assets/components/shapes/shapes.njk" %}

		</div>
	</div>

</div>